<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elenco dei corsi</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <ul>
          <li>Pagina 1</li>
          <li>Pagina 2</li>
          <li>Pagina 3</li>
          <li>Pagina 4</li>
          <li>Pagina 5</li>
        </ul>
      </ul>
    </nav>
  </header>
  <h1>Sono la view per l'action Index dell'HomeController</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic obcaecati laborum delectus, reiciendis voluptatibus sint commodi aliquam nisi culpa provident cumque alias tenetur quaerat quidem fugiat officia distinctio. Tempore, ducimus.</p>
  <p>Reprehenderit porro dolorem modi sequi odio recusandae aliquid beatae, eos soluta voluptatem ipsa perspiciatis numquam deserunt dolor debitis necessitatibus itaque a! Enim nobis placeat officiis, ipsam error voluptates nulla voluptatum.</p>
  <p>Expedita officia a ipsam ex, dignissimos, voluptatibus quo perferendis impedit officiis, sunt repudiandae repellat dicta autem? Amet temporibus laborum harum laudantium a ipsum, deserunt optio nulla quia animi ipsam voluptates?</p>
  <p>At explicabo nobis modi laboriosam facilis, veritatis repellendus fugiat libero cupiditate laborum quo voluptate rerum architecto odit consectetur possimus quos consequatur saepe doloribus veniam corporis vel repellat? Fugit, recusandae perferendis!</p>
  <p>Ratione possimus incidunt sed impedit sunt consequatur consectetur fuga delectus. Placeat, aut ut vitae consectetur magni voluptatibus officiis blanditiis. Dolorum iusto molestias reiciendis porro. Excepturi nesciunt cumque tempore inventore quis.</p>
  <footer>
    <p>Contattaci al numero...</p>
  </footer>
</body>
</html>
